body {
background-color: lightblue;    
}
#workMenu{
    border: 2px dotted rgb(185, 29, 159);
    border-radius: 50%;
    height: 120%;
    
}
.icon {
margin-top: 1.75vh;
margin-left: 1.25vw;
cursor: pointer;
}